body{
    background-color: rgb(211, 238, 243);
}

#random, #all  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-weight: bold;
}

li{
    color: black;
}

.span {
    color: black;
    background-color: rgb(157, 236, 236);
    font-weight: normal;
    font-size: x-small;
}
