.violet {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    background-color: rgb(157, 236, 236);
}

#container  {
margin: auto;
margin-bottom: 20px;
margin-top: 20px;
width: 300px;
height: 300px;
padding: 50px;
text-align: center;
border-radius: 50px 20px;
}

#img1 {
    width: 100%;
    border-radius: 50px 20px;
}

h1 {
    margin-top: 0;
}
